[submodule "public"]
	path = public
	url = git@github.com:amandamata/amandamata.github.io.git
	branch = main
[submodule "themes/minimal-bootstrap-hugo-theme"]
	path = themes/minimal-bootstrap-hugo-theme
	url = git@github.com:amandamata/minimal-bootstrap-hugo-theme.git
[submodule "themes/minimal-bootstrap"]
	path = themes/minimal-bootstrap
	url = git@github.com:amandamata/minimal-bootstrap-hugo-theme.git
